body {
  background-color: #F7DC6F; /* new background color */
  font-family: 'Indie Flower', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF; /* new background color */
}

.dice-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 20px;
}

.rolling {
  animation: roll 1s ease-in-out;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  75% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  margin-bottom: 10px;
}

img {
  width: 80%;
  margin: 20px;
}

button {
  background-color: #4CAF50; /* new button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#roll-button {
  margin-right: 20px;
}

#game-winner {
  background-color: #F7DC6F; /* new background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#winner-text {
  font-size: 2rem;
  color: #4ECCA3;
  font-weight: bold;
}